<!-- <ng-template #loggedOut><app-splashscreen></app-splashscreen></ng-template> -->
<app-navbar></app-navbar>
<div class="container app">

  <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <!-- <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <button class="btn btn-danger" (click)="auth.logout({ returnTo: document.location.origin })">
          Log out
        </button>
      </div>
    </div> -->
  </ng-container>

  <ng-template #loggedOut>
    <app-splashscreen></app-splashscreen>
  </ng-template>

  <!-- <app-home *ngIf="auth.user$ | async as user"></app-home> -->
  <router-outlet></router-outlet>
</div>