
<section class="container">
    <div id="text" class="d-flex align-items-center justify-content-center">
      <div class="text-center ">
        <h1 id="welcome">KCBGroup Customer Onboarding</h1>
        <div class="description">
          <p>Welcome to KCB Customer Onboarding portal</p>
          <p></p>
          <h5 class="copyright">© 2022 Copyright: KEN20950</h5>
          <button class="btn btn-success" (click)="auth.loginWithRedirect()">
            Log in
          </button>
        </div>
      </div>
    </div>
  </section>
