<div>
    <!-- alerts -->
    <div class = "alert" *ngIf="createAccountFail || createAccountSuccess"
    [ngClass]="{'alert-danger': createAccountFail, 'alert-success':createAccountSuccess}"
    [@fadeIn]>
    <span *ngIf="createAccountSuccess">The account has been created succesfully</span>
    <span *ngIf="createAccountFail">Account could not be created. Try again later</span>
    </div>

    <div class="d-flex justify-content-end mb-2">
        <button class="btn btn-create-new" (click)="toggleForm()">
          <span *ngIf="!showForm" [@fadeIn]>Create Account</span>
          <span *ngIf="showForm" [@fadeIn]>Back to Accounts List</span>
        </button>
      </div>
</div>
