.container {
  margin-top: 10%;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}
#welcome{
font-size: 25pt;
margin-bottom: 2%;
}
.copyright{
    color: crimson;

}
ul li::marker {
  content: '✓';
  color: crimson;
}
a:hover{
  color: crimson;
}

li {
  opacity: 0;
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
}

li:nth-child(2n+1) {
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
